<html>
  <head>
	<meta charset="utf-8">
	<title>task-3</title>
	<style type="text/css">
		.body{
			background-color:#ccc;
		}
		#app{
			margin:20px auto;
			text-align: justify;
		}
		.newTask>input{
			width:800px;
			height:50px;
			font-size: 25px
		}
		.todos>li{
			width:1000px;
		}

		span{
			display:inline-block;
			padding:10px 40px;
		}
		.item{
			width:300px;
		}
		.creatTime{
			width:300px;
			font-size:14px;
		}
		.notDone{
			color:red;
		}
		button{
			cursor:pointer;
			border-radius:5px;
		}
		button:hover{
			color:red;
		}

	</style>
  </head>
  <body>
	<div id="app">
		<h1>todos</h1>
		<div class="newTask">
			<input type="text" v-model="newTodo" @keypress.enter="addTodo">
		</div>
		<ol class="todos">
			<li v-for="todo in todoList">
				<input type="checkbox" v-model="todo.done" >
				<span class="item">{{todo.title}}</span>
				<span v-if="todo.done">已完成</span>
				<span v-else class="notDone">未完成</span>
				<button @click="removeTodo(todo)">移除</button>
				<span class="creatTime"><i>{{'created by：'+todo.createdAt}}</i></span>
			</li>
		</ol>
	</div>
    <script src="bundle.js"></script>
  </body>
</html>
